.menu {
  display: flex;
  background-color: rgba(255, 251, 251, 0.9);
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 2rem;
  padding-top: 1rem;
  position: fixed;
}

.menu__header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  text-align: center;
}

.menu__header-title {
  color: #00161c;
  font-family: "Josefin Sans", sans-serif;
  padding-top: 0.4rem;
  padding-left: 0.4rem;
}

.menu__header-icon {
  font-size: 1.2rem;
  margin-left: 1rem;
  color: #44475a;
}

.menu__ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.menu__link {
  color: #00161c;
  text-decoration: none;
  padding-right: 2rem;
  font-family: "M PLUS Rounded 1c", sans-serif;
}
